---
layout: archive
permalink: /year-archive/
title: "博客"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}
{% assign posts = site.posts | sort: "date" | reverse %}

{% for post in posts %}
  <article class="archive__item">
    <h2 class="archive__item-title">{{ post.title }}</h2>
    <p class="page__date">
      <strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> 发布：</strong>
      <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%Y-%m-%d" }}</time>
    </p>
    <div class="archive__item-content">
      {{ post.excerpt | markdownify | strip_html | strip_newlines | truncate: 220 }}
      <div>
        <a href="{{ post.url | relative_url }}">阅读全文</a>
      </div>
    </div>
  </article>
  <hr>
{% endfor %}
